In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
from matplotlib.colors import LinearSegmentedColormap
import glob
import numpy as np

collisions_df = pd.read_csv("../../input/collisions.csv")
geometry_df = gpd.read_file("../../input/taxi_zones/taxi_zones.shp")
collisions_df["crash_date"] = pd.to_datetime(collisions_df["crash_date"])
collisions_df = collisions_df[collisions_df['crash_date'].dt.year == 2024]

In [6]:
import glob
import pandas as pd
parquet_files = glob.glob("../../input/yellow_taxi_data/*2024*.parquet")
all_dfs = []
for file in parquet_files:
    df = pd.read_parquet(file)
    all_dfs.append(df)

taxi_df = pd.concat(all_dfs, ignore_index=True)

taxi_df['tpep_pickup_datetime'] = pd.to_datetime(taxi_df['tpep_pickup_datetime'], errors='coerce')

In [7]:
taxi_df.drop(columns=['store_and_fwd_flag'], inplace=True)

taxi_df.info()
taxi_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41169720 entries, 0 to 41169719
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   PULocationID           int32
 7   DOLocationID           int32
 8   payment_type           int64
 9   fare_amount            float64
 10  extra                  float64
 11  mta_tax                float64
 12  tip_amount             float64
 13  tolls_amount           float64
 14  improvement_surcharge  float64
 15  total_amount           float64
 16  congestion_surcharge   float64
 17  Airport_fee            float64
dtypes: datetime64[us](2), float64(12), int32(3), int64(1)
memory usage: 5.1 GB

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2024-04-01 00:02:40,2024-04-01 00:30:42,0.0,5.20,1.0,161,7,1,29.6,3.5,0.5,8.65,0.0,1.0,43.25,2.5,0.0
1,2,2024-04-01 00:41:12,2024-04-01 00:55:29,1.0,5.60,1.0,264,264,1,25.4,1.0,0.5,10.00,0.0,1.0,37.90,0.0,0.0
2,2,2024-04-01 00:48:42,2024-04-01 01:05:30,1.0,3.55,1.0,186,236,1,20.5,1.0,0.5,5.10,0.0,1.0,30.60,2.5,0.0
3,2,2024-04-01 00:56:02,2024-04-01 01:05:09,1.0,1.06,1.0,137,164,2,10.0,1.0,0.5,0.00,0.0,1.0,15.00,2.5,0.0
4,1,2024-04-01 00:08:32,2024-04-01 00:10:24,1.0,0.70,1.0,236,263,1,5.1,3.5,0.5,2.00,0.0,1.0,12.10,2.5,0.0

In [4]:
taxi_df.replace('NULL', np.nan, inplace=True)

In [ ]:
collisions_df.replace('NULL', np.nan, inplace=True)
collisions_df.drop(columns=['location'], inplace=True)

In [7]:
cols = ['crash_date', 'crash_time', 'latitude', 'longitude', 'location',
       'on_street_name', 'number_of_persons_injured',
       'number_of_persons_killed', 'number_of_pedestrians_injured',
       'number_of_pedestrians_killed', 'number_of_cyclist_injured',
       'number_of_cyclist_killed', 'number_of_motorist_injured',
       'number_of_motorist_killed', 'contributing_factor_vehicle_1', 'collision_id','borough', 'zip_code',
       'cross_street_name', 'off_street_name']
collisions_df = collisions_df[cols]
collisions_df.info()
collisions_df.head()

# Replace 'Unspecified' in 'contributing_factor_vehicle_1' with NaN
collisions_df['contributing_factor_vehicle_1'].replace('Unspecified', np.nan, inplace=True)

# Drop rows where 'latitude' or 'longitude' are missing
collisions_df.dropna(subset=['latitude', 'longitude'], inplace=True)

<class 'pandas.core.frame.DataFrame'>
Index: 91264 entries, 200490 to 291753
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   crash_date                     91264 non-null  datetime64[ns]
 1   crash_time                     91264 non-null  object
 2   latitude                       84262 non-null  float64
 3   longitude                      84262 non-null  float64
 4   location                       84262 non-null  object
 5   on_street_name                 65077 non-null  object
 6   number_of_persons_injured      91264 non-null  int64
 7   number_of_persons_killed       91264 non-null  int64
 8   number_of_pedestrians_injured  91264 non-null  int64
 9   number_of_pedestrians_killed   91264 non-null  int64
 10  number_of_cyclist_injured      91264 non-null  int64
 11  number_of_cyclist_killed       91264 non-null  int64
 12  number_of_motorist_injured     91264 non-null  int64
 13  number_of_motorist_killed      91264 non-null  int64
 14  contributing_factor_vehicle_1  90586 non-null  object
 15  collision_id                   91264 non-null  int64
 16  borough                        65101 non-null  object
 17  zip_code                       65081 non-null  float64
 18  cross_street_name              26187 non-null  object
 19  off_street_name                46722 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(9), object(7)
memory usage: 14.6+ MB

/tmp/ipykernel_43931/2509772436.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  collisions_df['contributing_factor_vehicle_1'].replace('Unspecified', np.nan, inplace=True)

In [8]:
df = collisions_df
for col in df.columns:
    non_null_count = df[col].notnull().sum()
    unique_count = df[col].nunique(dropna=True)
    is_numeric = pd.api.types.is_numeric_dtype(df[col])

    # Skip numeric columns
    if is_numeric:
        continue

    # Print only if there are duplicate values (i.e., normalization candidates)
    if unique_count < non_null_count:
        print(f"{col}: {non_null_count} non-null values, {unique_count} unique values")
        print(" â†’ Column is not purely numeric.")
        print(f" â†’ {col} has duplicate values and could be normalized.")
        print("-" * 50)

crash_date: 84262 non-null values, 321 unique values
 â†’ Column is not purely numeric.
 â†’ crash_date has duplicate values and could be normalized.
--------------------------------------------------
crash_time: 84262 non-null values, 1440 unique values
 â†’ Column is not purely numeric.
 â†’ crash_time has duplicate values and could be normalized.
--------------------------------------------------
location: 84262 non-null values, 40961 unique values
 â†’ Column is not purely numeric.
 â†’ location has duplicate values and could be normalized.
--------------------------------------------------
on_street_name: 58601 non-null values, 5179 unique values
 â†’ Column is not purely numeric.
 â†’ on_street_name has duplicate values and could be normalized.
--------------------------------------------------
contributing_factor_vehicle_1: 62351 non-null values, 54 unique values
 â†’ Column is not purely numeric.
 â†’ contributing_factor_vehicle_1 has duplicate values and could be normalized.
--------------------------------------------------
borough: 64358 non-null values, 5 unique values
 â†’ Column is not purely numeric.
 â†’ borough has duplicate values and could be normalized.
--------------------------------------------------
cross_street_name: 25661 non-null values, 18027 unique values
 â†’ Column is not purely numeric.
 â†’ cross_street_name has duplicate values and could be normalized.
--------------------------------------------------
off_street_name: 44293 non-null values, 5974 unique values
 â†’ Column is not purely numeric.
 â†’ off_street_name has duplicate values and could be normalized.
--------------------------------------------------

In [9]:
import pandas as pd

# 1. Create the lookup tables with IDs
def create_lookup_table(df, column_name, new_column_name):
    lookup_df = df[[column_name]].dropna().drop_duplicates().reset_index(drop=True)
    lookup_df.insert(0, f"{new_column_name}_id", range(1, len(lookup_df) + 1))
    return lookup_df

contributing_factor_lut = create_lookup_table(collisions_df, 'contributing_factor_vehicle_1', 'contributing_factor')
borough_lut = create_lookup_table(collisions_df, 'borough', 'borough')
cross_street_lut = create_lookup_table(collisions_df, 'cross_street_name', 'cross_street')
off_street_lut = create_lookup_table(collisions_df, 'off_street_name', 'off_street')

# 2. Map the original columns to their IDs
collisions_df = collisions_df.merge(contributing_factor_lut, how='left', left_on='contributing_factor_vehicle_1', right_on='contributing_factor_vehicle_1')
collisions_df = collisions_df.merge(borough_lut, how='left', left_on='borough', right_on='borough')
collisions_df = collisions_df.merge(cross_street_lut, how='left', left_on='cross_street_name', right_on='cross_street_name')
collisions_df = collisions_df.merge(off_street_lut, how='left', left_on='off_street_name', right_on='off_street_name')

# 3. Optional: Drop original text columns and rename *_id columns
collisions_df = collisions_df.drop(columns=[
    'contributing_factor_vehicle_1',
    'borough',
    'cross_street_name',
    'off_street_name'
])

collisions_df = collisions_df.rename(columns={
    'contributing_factor_id': 'contributing_factor_vehicle_1_id',
    'borough_id': 'borough_id',
    'cross_street_id': 'cross_street_name_id',
    'off_street_id': 'off_street_name_id'
})

In [ ]:
contributing_factor_lut
borough_lut
cross_street_lut
off_street_lut
collisions_df
taxi_df
geometry_df

In [8]:
import psycopg2
from dotenv import load_dotenv
import os

# Load environment variables
load_dotenv(override=True)

RDS_HOST = os.getenv("DB_HOST")
RDS_PORT = os.getenv("DB_PORT")
RDS_USER = os.getenv("DB_USER")
RDS_PASSWORD = os.getenv("DB_PASSWORD")
RDS_DB = os.getenv("DB_NAME")

try:
    # Establish PostgreSQL connection
    conn = psycopg2.connect(
        host=RDS_HOST,
        user=RDS_USER,
        password=RDS_PASSWORD,
        dbname=RDS_DB,
        port=RDS_PORT,
        sslmode="require"  
    )
    print("âœ… Connected to PostgreSQL RDS instance successfully!")

    # Create a cursor object
    cursor = conn.cursor()

    # Execute a test query
    cursor.execute("SELECT version();")
    version = cursor.fetchone()
    print("Database version:", version)

    # Close connection
    # cursor.close()
    # conn.close()


except Exception as e:
    print("Error connecting to RDS:", e)

âœ… Connected to PostgreSQL RDS instance successfully!
Database version: ('PostgreSQL 17.2 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 12.4.0, 64-bit',)

In [21]:
collisions_df.head()

,crash_date,crash_time,latitude,longitude,on_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,collision_id,zip_code,contributing_factor_vehicle_1_id,borough_id,cross_street_name_id,off_street_name_id
0,2024-01-01,17:07,40.665657,-73.888084,NaN,0,0,0,0,0,0,0,0,4702082,11207.0,NaN,1.0,1.0,NaN
1,2024-01-01,10:00,40.730442,-73.913670,LONG ISLAND EXPRESSWAY,1,0,0,0,0,0,1,0,4691881,NaN,1.0,NaN,NaN,NaN
2,2024-01-01,21:56,40.666430,-73.882835,NaN,2,0,0,0,0,0,2,0,4692079,11207.0,1.0,1.0,2.0,NaN
3,2024-01-01,6:00,40.685920,-73.846924,97 AVENUE,0,0,0,0,0,0,0,0,4691952,11416.0,NaN,2.0,NaN,1.0
4,2024-01-01,5:57,40.672382,-73.785740,BAISLEY BOULEVARD,1,0,0,0,0,0,0,0,4691606,11434.0,2.0,2.0,NaN,2.0

In [12]:
def create_table_from_df(df, table_name, cursor):
    # Generate column definitions
    columns = []
    for col_name, dtype in zip(df.columns, df.dtypes):
        if 'int' in str(dtype):
            col_type = 'INTEGER'
        elif 'float' in str(dtype):
            col_type = 'NUMERIC'
        elif 'datetime' in str(dtype):
            col_type = 'TIMESTAMP'
        elif 'bool' in str(dtype):
            col_type = 'BOOLEAN'
        else:
            col_type = 'TEXT'
        
        columns.append(f'"{col_name}" {col_type}')
    
    # Create table
    create_table_query = f"CREATE TABLE IF NOT EXISTS {table_name} ({', '.join(columns)})"
    cursor.execute(create_table_query)
    print(f"Created table {table_name}")

In [13]:
def copy_df_to_postgres(df, table_name, cursor):
    from io import StringIO
    import csv  # Import csv for quoting options

    # Create a buffer
    buffer = StringIO()

    # Write the DataFrame to the buffer
    df.to_csv(buffer, index=False, header=False, na_rep='', quoting=csv.QUOTE_MINIMAL)
    buffer.seek(0)

    try:
        # Use COPY command for fast data loading
        column_list = ','.join([f'"{col}"' for col in df.columns])
        cursor.copy_expert(
            f"COPY {table_name} ({column_list}) FROM STDIN WITH CSV NULL ''",
            buffer
        )
        print(f"Uploaded {len(df)} rows to {table_name}")
    except Exception as e:
        print(f"Error uploading to {table_name}: {e}")

In [ ]:
# List of dataframes to upload
dataframes = {
    'contributing_factor_lut': contributing_factor_lut,
    'borough_lut': borough_lut,
    'cross_street_lut': cross_street_lut,
    'off_street_lut': off_street_lut,
    'collisions_df': collisions_df,
    'taxi_df': taxi_df,
    'geometry_df': geometry_df
}

# Process each dataframe
for table_name, df in dataframes.items():
    print(f"ðŸ”„ Processing {table_name} with {len(df)} rows...")
    
    # Create the table
    create_table_from_df(df, table_name, cursor)
    
    # Process in chunks to handle large dataframes
    chunk_size = 50000
    total_chunks = (len(df) + chunk_size - 1) // chunk_size  # Ceiling division
    
    for i in range(0, len(df), chunk_size):
        chunk = df.iloc[i:i+chunk_size]
        chunk_num = i // chunk_size + 1
        print(f"Uploading chunk {chunk_num}/{total_chunks} ({i} to {min(i+chunk_size, len(df))} rows)")
        copy_df_to_postgres(chunk, table_name, cursor)
        # Commit after each chunk to avoid long transactions
        conn.commit()

print("All data uploaded successfully!")

# Close connections
cursor.close()
conn.close()
print("Connection closed.")

ðŸ”„ Processing contributing_factor_lut with 54 rows...
Created table contributing_factor_lut
Uploading chunk 1/1 (0 to 54 rows)
Uploaded 54 rows to contributing_factor_lut
ðŸ”„ Processing borough_lut with 5 rows...
Created table borough_lut
Uploading chunk 1/1 (0 to 5 rows)
Uploaded 5 rows to borough_lut
ðŸ”„ Processing cross_street_lut with 18027 rows...
Created table cross_street_lut
Uploading chunk 1/1 (0 to 18027 rows)
Uploaded 18027 rows to cross_street_lut
ðŸ”„ Processing off_street_lut with 5974 rows...
Created table off_street_lut
Uploading chunk 1/1 (0 to 5974 rows)
Uploaded 5974 rows to off_street_lut
ðŸ”„ Processing collisions_df with 84262 rows...
Created table collisions_df
Uploading chunk 1/2 (0 to 50000 rows)
Uploaded 50000 rows to collisions_df
Uploading chunk 2/2 (50000 to 84262 rows)
Uploaded 34262 rows to collisions_df
ðŸ”„ Processing taxi_df with 41169720 rows...
Created table taxi_df
Uploading chunk 1/824 (0 to 50000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 2/824 (50000 to 100000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 3/824 (100000 to 150000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 4/824 (150000 to 200000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 5/824 (200000 to 250000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 6/824 (250000 to 300000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 7/824 (300000 to 350000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 8/824 (350000 to 400000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 9/824 (400000 to 450000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 10/824 (450000 to 500000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 11/824 (500000 to 550000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 12/824 (550000 to 600000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 13/824 (600000 to 650000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 14/824 (650000 to 700000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 15/824 (700000 to 750000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 16/824 (750000 to 800000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 17/824 (800000 to 850000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 18/824 (850000 to 900000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 19/824 (900000 to 950000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 20/824 (950000 to 1000000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 21/824 (1000000 to 1050000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 22/824 (1050000 to 1100000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 23/824 (1100000 to 1150000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 24/824 (1150000 to 1200000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 25/824 (1200000 to 1250000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 26/824 (1250000 to 1300000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 27/824 (1300000 to 1350000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 28/824 (1350000 to 1400000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 29/824 (1400000 to 1450000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 30/824 (1450000 to 1500000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 31/824 (1500000 to 1550000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 32/824 (1550000 to 1600000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 33/824 (1600000 to 1650000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 34/824 (1650000 to 1700000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 35/824 (1700000 to 1750000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 36/824 (1750000 to 1800000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 37/824 (1800000 to 1850000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 38/824 (1850000 to 1900000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 39/824 (1900000 to 1950000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 40/824 (1950000 to 2000000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 41/824 (2000000 to 2050000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 42/824 (2050000 to 2100000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 43/824 (2100000 to 2150000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 44/824 (2150000 to 2200000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 45/824 (2200000 to 2250000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 46/824 (2250000 to 2300000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 47/824 (2300000 to 2350000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 48/824 (2350000 to 2400000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 49/824 (2400000 to 2450000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 50/824 (2450000 to 2500000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 51/824 (2500000 to 2550000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 52/824 (2550000 to 2600000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 53/824 (2600000 to 2650000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 54/824 (2650000 to 2700000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 55/824 (2700000 to 2750000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 56/824 (2750000 to 2800000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 57/824 (2800000 to 2850000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 58/824 (2850000 to 2900000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 59/824 (2900000 to 2950000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 60/824 (2950000 to 3000000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 61/824 (3000000 to 3050000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 62/824 (3050000 to 3100000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 63/824 (3100000 to 3150000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 64/824 (3150000 to 3200000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 65/824 (3200000 to 3250000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 66/824 (3250000 to 3300000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 67/824 (3300000 to 3350000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 68/824 (3350000 to 3400000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 69/824 (3400000 to 3450000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 70/824 (3450000 to 3500000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 71/824 (3500000 to 3550000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 72/824 (3550000 to 3600000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 73/824 (3600000 to 3650000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 74/824 (3650000 to 3700000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 75/824 (3700000 to 3750000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 76/824 (3750000 to 3800000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 77/824 (3800000 to 3850000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 78/824 (3850000 to 3900000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 79/824 (3900000 to 3950000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 80/824 (3950000 to 4000000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 81/824 (4000000 to 4050000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 82/824 (4050000 to 4100000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 83/824 (4100000 to 4150000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 84/824 (4150000 to 4200000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 85/824 (4200000 to 4250000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 86/824 (4250000 to 4300000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 87/824 (4300000 to 4350000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 88/824 (4350000 to 4400000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 89/824 (4400000 to 4450000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 90/824 (4450000 to 4500000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 91/824 (4500000 to 4550000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 92/824 (4550000 to 4600000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 93/824 (4600000 to 4650000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 94/824 (4650000 to 4700000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 95/824 (4700000 to 4750000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 96/824 (4750000 to 4800000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 97/824 (4800000 to 4850000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 98/824 (4850000 to 4900000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 99/824 (4900000 to 4950000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 100/824 (4950000 to 5000000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 101/824 (5000000 to 5050000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 102/824 (5050000 to 5100000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 103/824 (5100000 to 5150000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 104/824 (5150000 to 5200000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 105/824 (5200000 to 5250000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 106/824 (5250000 to 5300000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 107/824 (5300000 to 5350000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 108/824 (5350000 to 5400000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 109/824 (5400000 to 5450000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 110/824 (5450000 to 5500000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 111/824 (5500000 to 5550000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 112/824 (5550000 to 5600000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 113/824 (5600000 to 5650000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 114/824 (5650000 to 5700000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 115/824 (5700000 to 5750000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 116/824 (5750000 to 5800000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 117/824 (5800000 to 5850000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 118/824 (5850000 to 5900000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 119/824 (5900000 to 5950000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 120/824 (5950000 to 6000000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 121/824 (6000000 to 6050000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 122/824 (6050000 to 6100000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 123/824 (6100000 to 6150000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 124/824 (6150000 to 6200000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 125/824 (6200000 to 6250000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 126/824 (6250000 to 6300000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 127/824 (6300000 to 6350000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 128/824 (6350000 to 6400000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 129/824 (6400000 to 6450000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 130/824 (6450000 to 6500000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 131/824 (6500000 to 6550000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 132/824 (6550000 to 6600000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 133/824 (6600000 to 6650000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 134/824 (6650000 to 6700000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 135/824 (6700000 to 6750000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 136/824 (6750000 to 6800000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 137/824 (6800000 to 6850000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 138/824 (6850000 to 6900000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 139/824 (6900000 to 6950000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 140/824 (6950000 to 7000000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 141/824 (7000000 to 7050000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 142/824 (7050000 to 7100000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 143/824 (7100000 to 7150000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 144/824 (7150000 to 7200000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 145/824 (7200000 to 7250000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 146/824 (7250000 to 7300000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 147/824 (7300000 to 7350000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 148/824 (7350000 to 7400000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 149/824 (7400000 to 7450000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 150/824 (7450000 to 7500000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 151/824 (7500000 to 7550000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 152/824 (7550000 to 7600000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 153/824 (7600000 to 7650000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 154/824 (7650000 to 7700000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 155/824 (7700000 to 7750000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 156/824 (7750000 to 7800000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 157/824 (7800000 to 7850000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 158/824 (7850000 to 7900000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 159/824 (7900000 to 7950000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 160/824 (7950000 to 8000000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 161/824 (8000000 to 8050000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 162/824 (8050000 to 8100000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 163/824 (8100000 to 8150000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 164/824 (8150000 to 8200000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 165/824 (8200000 to 8250000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 166/824 (8250000 to 8300000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 167/824 (8300000 to 8350000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 168/824 (8350000 to 8400000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 169/824 (8400000 to 8450000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 170/824 (8450000 to 8500000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 171/824 (8500000 to 8550000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 172/824 (8550000 to 8600000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 173/824 (8600000 to 8650000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 174/824 (8650000 to 8700000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 175/824 (8700000 to 8750000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 176/824 (8750000 to 8800000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 177/824 (8800000 to 8850000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 178/824 (8850000 to 8900000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 179/824 (8900000 to 8950000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 180/824 (8950000 to 9000000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 181/824 (9000000 to 9050000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 182/824 (9050000 to 9100000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 183/824 (9100000 to 9150000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 184/824 (9150000 to 9200000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 185/824 (9200000 to 9250000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 186/824 (9250000 to 9300000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 187/824 (9300000 to 9350000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 188/824 (9350000 to 9400000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 189/824 (9400000 to 9450000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 190/824 (9450000 to 9500000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 191/824 (9500000 to 9550000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 192/824 (9550000 to 9600000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 193/824 (9600000 to 9650000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 194/824 (9650000 to 9700000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 195/824 (9700000 to 9750000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 196/824 (9750000 to 9800000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 197/824 (9800000 to 9850000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 198/824 (9850000 to 9900000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 199/824 (9900000 to 9950000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 200/824 (9950000 to 10000000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 201/824 (10000000 to 10050000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 202/824 (10050000 to 10100000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 203/824 (10100000 to 10150000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 204/824 (10150000 to 10200000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 205/824 (10200000 to 10250000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 206/824 (10250000 to 10300000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 207/824 (10300000 to 10350000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 208/824 (10350000 to 10400000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 209/824 (10400000 to 10450000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 210/824 (10450000 to 10500000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 211/824 (10500000 to 10550000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 212/824 (10550000 to 10600000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 213/824 (10600000 to 10650000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 214/824 (10650000 to 10700000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 215/824 (10700000 to 10750000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 216/824 (10750000 to 10800000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 217/824 (10800000 to 10850000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 218/824 (10850000 to 10900000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 219/824 (10900000 to 10950000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 220/824 (10950000 to 11000000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 221/824 (11000000 to 11050000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 222/824 (11050000 to 11100000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 223/824 (11100000 to 11150000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 224/824 (11150000 to 11200000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 225/824 (11200000 to 11250000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 226/824 (11250000 to 11300000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 227/824 (11300000 to 11350000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 228/824 (11350000 to 11400000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 229/824 (11400000 to 11450000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 230/824 (11450000 to 11500000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 231/824 (11500000 to 11550000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 232/824 (11550000 to 11600000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 233/824 (11600000 to 11650000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 234/824 (11650000 to 11700000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 235/824 (11700000 to 11750000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 236/824 (11750000 to 11800000 rows)
Uploaded 50000 rows to taxi_df

NameError: name 'taxi_df' is not defined

In [19]:
# Drop all tables in the public schema
cursor.execute("""
    DO $$ 
    BEGIN
        EXECUTE (
            SELECT string_agg('DROP TABLE IF EXISTS "' || table_name || '" CASCADE;', ' ')
            FROM information_schema.tables
            WHERE table_schema = 'public'
        );
    END $$;
""")
conn.commit()

print("All tables dropped successfully!")

All tables dropped successfully!

In [4]:
cursor.execute("""
    SELECT table_name
    FROM information_schema.tables
    WHERE table_schema = 'public'
""")
tables = cursor.fetchall()

# Print the table names
print("Tables in the database:")
for table in tables:
    print(table[0])

cursor.execute("""
    SELECT COUNT(*) AS row_count
    FROM taxi_df
""")
row_count = cursor.fetchone()

# Print the number of rows
print(f"Number of rows in taxi_df: {row_count[0]}")

Tables in the database:
contributing_factor_lut
borough_lut
cross_street_lut
off_street_lut
taxi_df
collisions_df
Number of rows in taxi_df: 20500000

In [9]:
cursor.execute("SELECT COUNT(*) FROM taxi_df")
uploaded_rows = cursor.fetchone()[0]
print(f"Rows already uploaded: {uploaded_rows}")

Rows already uploaded: 20500000

In [11]:
start_row = uploaded_rows  # Start from the last uploaded row
chunk_size = 50000  # Adjust chunk size if needed

for i in range(start_row, len(taxi_df), chunk_size):
    chunk = taxi_df.iloc[i:i+chunk_size]
    chunk_num = i // chunk_size + 1
    print(f"Uploading chunk {chunk_num} ({i} to {min(i+chunk_size, len(taxi_df))} rows)")
    copy_df_to_postgres(chunk, 'taxi_df', cursor)
    conn.commit()  # Commit after each chunk

Uploading chunk 411 (20500000 to 20550000 rows)

NameError: name 'copy_df_to_postgres' is not defined