In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
from matplotlib.colors import LinearSegmentedColormap
import glob
import numpy as np

collisions_df = pd.read_csv("../../input/collisions.csv")
geometry_df = gpd.read_file("../../input/taxi_zones/taxi_zones.shp")
collisions_df["crash_date"] = pd.to_datetime(collisions_df["crash_date"])
collisions_df = collisions_df[collisions_df['crash_date'].dt.year == 2024]

In [2]:
import glob
import pandas as pd
parquet_files = glob.glob("../../input/yellow_taxi_data/*2024*.parquet")
all_dfs = []
for file in parquet_files:
    df = pd.read_parquet(file)
    all_dfs.append(df)

taxi_df = pd.concat(all_dfs, ignore_index=True)

taxi_df['tpep_pickup_datetime'] = pd.to_datetime(taxi_df['tpep_pickup_datetime'], errors='coerce')

In [7]:
taxi_df.drop(columns=['store_and_fwd_flag'], inplace=True)

taxi_df.info()
taxi_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41169720 entries, 0 to 41169719
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   PULocationID           int32
 7   DOLocationID           int32
 8   payment_type           int64
 9   fare_amount            float64
 10  extra                  float64
 11  mta_tax                float64
 12  tip_amount             float64
 13  tolls_amount           float64
 14  improvement_surcharge  float64
 15  total_amount           float64
 16  congestion_surcharge   float64
 17  Airport_fee            float64
dtypes: datetime64[us](2), float64(12), int32(3), int64(1)
memory usage: 5.1 GB

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2024-04-01 00:02:40,2024-04-01 00:30:42,0.0,5.20,1.0,161,7,1,29.6,3.5,0.5,8.65,0.0,1.0,43.25,2.5,0.0
1,2,2024-04-01 00:41:12,2024-04-01 00:55:29,1.0,5.60,1.0,264,264,1,25.4,1.0,0.5,10.00,0.0,1.0,37.90,0.0,0.0
2,2,2024-04-01 00:48:42,2024-04-01 01:05:30,1.0,3.55,1.0,186,236,1,20.5,1.0,0.5,5.10,0.0,1.0,30.60,2.5,0.0
3,2,2024-04-01 00:56:02,2024-04-01 01:05:09,1.0,1.06,1.0,137,164,2,10.0,1.0,0.5,0.00,0.0,1.0,15.00,2.5,0.0
4,1,2024-04-01 00:08:32,2024-04-01 00:10:24,1.0,0.70,1.0,236,263,1,5.1,3.5,0.5,2.00,0.0,1.0,12.10,2.5,0.0

In [4]:
taxi_df.replace('NULL', np.nan, inplace=True)

In [7]:
collisions_df.replace('NULL', np.nan, inplace=True)
collisions_df.drop(columns=['location'], inplace=True)

In [9]:
cols = ['crash_date', 'crash_time', 'latitude', 'longitude',
       'on_street_name', 'number_of_persons_injured',
       'number_of_persons_killed', 'number_of_pedestrians_injured',
       'number_of_pedestrians_killed', 'number_of_cyclist_injured',
       'number_of_cyclist_killed', 'number_of_motorist_injured',
       'number_of_motorist_killed', 'contributing_factor_vehicle_1', 'collision_id','borough', 'zip_code',
       'cross_street_name', 'off_street_name']
collisions_df = collisions_df[cols]
collisions_df.info()
collisions_df.head()

# Replace 'Unspecified' in 'contributing_factor_vehicle_1' with NaN
collisions_df['contributing_factor_vehicle_1'].replace('Unspecified', np.nan, inplace=True)

# Drop rows where 'latitude' or 'longitude' are missing
collisions_df.dropna(subset=['latitude', 'longitude'], inplace=True)

<class 'pandas.core.frame.DataFrame'>
Index: 91264 entries, 200490 to 291753
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   crash_date                     91264 non-null  datetime64[ns]
 1   crash_time                     91264 non-null  object
 2   latitude                       84262 non-null  float64
 3   longitude                      84262 non-null  float64
 4   on_street_name                 65077 non-null  object
 5   number_of_persons_injured      91264 non-null  int64
 6   number_of_persons_killed       91264 non-null  int64
 7   number_of_pedestrians_injured  91264 non-null  int64
 8   number_of_pedestrians_killed   91264 non-null  int64
 9   number_of_cyclist_injured      91264 non-null  int64
 10  number_of_cyclist_killed       91264 non-null  int64
 11  number_of_motorist_injured     91264 non-null  int64
 12  number_of_motorist_killed      91264 non-null  int64
 13  contributing_factor_vehicle_1  90586 non-null  object
 14  collision_id                   91264 non-null  int64
 15  borough                        65101 non-null  object
 16  zip_code                       65081 non-null  float64
 17  cross_street_name              26187 non-null  object
 18  off_street_name                46722 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(9), object(6)
memory usage: 13.9+ MB

/tmp/ipykernel_82439/3394947211.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  collisions_df['contributing_factor_vehicle_1'].replace('Unspecified', np.nan, inplace=True)
/tmp/ipykernel_82439/3394947211.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  collisions_df['contributing_factor_vehicle_1'].replace('Unspecified', np.nan, inplace=True)
/tmp/ipykernel_82439/3394947211.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  collisions_df.dropna(subset=['latitude', 'longitude'], inplace=True)

In [8]:
df = collisions_df
for col in df.columns:
    non_null_count = df[col].notnull().sum()
    unique_count = df[col].nunique(dropna=True)
    is_numeric = pd.api.types.is_numeric_dtype(df[col])

    # Skip numeric columns
    if is_numeric:
        continue

    # Print only if there are duplicate values (i.e., normalization candidates)
    if unique_count < non_null_count:
        print(f"{col}: {non_null_count} non-null values, {unique_count} unique values")
        print(" → Column is not purely numeric.")
        print(f" → {col} has duplicate values and could be normalized.")
        print("-" * 50)

crash_date: 84262 non-null values, 321 unique values
 → Column is not purely numeric.
 → crash_date has duplicate values and could be normalized.
--------------------------------------------------
crash_time: 84262 non-null values, 1440 unique values
 → Column is not purely numeric.
 → crash_time has duplicate values and could be normalized.
--------------------------------------------------
location: 84262 non-null values, 40961 unique values
 → Column is not purely numeric.
 → location has duplicate values and could be normalized.
--------------------------------------------------
on_street_name: 58601 non-null values, 5179 unique values
 → Column is not purely numeric.
 → on_street_name has duplicate values and could be normalized.
--------------------------------------------------
contributing_factor_vehicle_1: 62351 non-null values, 54 unique values
 → Column is not purely numeric.
 → contributing_factor_vehicle_1 has duplicate values and could be normalized.
--------------------------------------------------
borough: 64358 non-null values, 5 unique values
 → Column is not purely numeric.
 → borough has duplicate values and could be normalized.
--------------------------------------------------
cross_street_name: 25661 non-null values, 18027 unique values
 → Column is not purely numeric.
 → cross_street_name has duplicate values and could be normalized.
--------------------------------------------------
off_street_name: 44293 non-null values, 5974 unique values
 → Column is not purely numeric.
 → off_street_name has duplicate values and could be normalized.
--------------------------------------------------

In [12]:
import pandas as pd

# 1. Create the lookup tables with IDs
def create_lookup_table(df, column_name, new_column_name):
    lookup_df = df[[column_name]].dropna().drop_duplicates().reset_index(drop=True)
    lookup_df.insert(0, f"{new_column_name}_id", range(1, len(lookup_df) + 1))
    return lookup_df

contributing_factor_lut = create_lookup_table(collisions_df, 'contributing_factor_vehicle_1', 'contributing_factor')
borough_lut = create_lookup_table(collisions_df, 'borough', 'borough')
cross_street_lut = create_lookup_table(collisions_df, 'cross_street_name', 'cross_street')
off_street_lut = create_lookup_table(collisions_df, 'off_street_name', 'off_street')

# 2. Map the original columns to their IDs
collisions_df = collisions_df.merge(contributing_factor_lut, how='left', left_on='contributing_factor_vehicle_1', right_on='contributing_factor_vehicle_1')
collisions_df = collisions_df.merge(borough_lut, how='left', left_on='borough', right_on='borough')
collisions_df = collisions_df.merge(cross_street_lut, how='left', left_on='cross_street_name', right_on='cross_street_name')
collisions_df = collisions_df.merge(off_street_lut, how='left', left_on='off_street_name', right_on='off_street_name')

# 3. Optional: Drop original text columns and rename *_id columns
collisions_df = collisions_df.drop(columns=[
    'contributing_factor_vehicle_1',
    'borough',
    'cross_street_name',
    'off_street_name'
])

collisions_df = collisions_df.rename(columns={
    'contributing_factor_id': 'contributing_factor_vehicle_1_id',
    'borough_id': 'borough_id',
    'cross_street_id': 'cross_street_name_id',
    'off_street_id': 'off_street_name_id'
})

In [ ]:
contributing_factor_lut
borough_lut
cross_street_lut
off_street_lut
collisions_df
taxi_df
geometry_df

In [2]:
import psycopg2
from dotenv import load_dotenv
import os

# Load environment variables
load_dotenv(override=True)

RDS_HOST = os.getenv("DB_HOST")
RDS_PORT = os.getenv("DB_PORT")
RDS_USER = os.getenv("DB_USER")
RDS_PASSWORD = os.getenv("DB_PASSWORD")
RDS_DB = os.getenv("DB_NAME")

try:
    # Establish PostgreSQL connection
    conn = psycopg2.connect(
        host=RDS_HOST,
        user=RDS_USER,
        password=RDS_PASSWORD,
        dbname=RDS_DB,
        port=RDS_PORT,
        sslmode="require"  
    )
    print("✅ Connected to PostgreSQL RDS instance successfully!")

    # Create a cursor object
    cursor = conn.cursor()

    # Execute a test query
    cursor.execute("SELECT version();")
    version = cursor.fetchone()
    print("Database version:", version)

    # Close connection
    # cursor.close()
    # conn.close()


except Exception as e:
    print("Error connecting to RDS:", e)

✅ Connected to PostgreSQL RDS instance successfully!
Database version: ('PostgreSQL 17.2 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 12.4.0, 64-bit',)

In [20]:
def create_table_from_df(df, table_name, cursor):
    # Generate column definitions
    columns = []
    for col_name, dtype in zip(df.columns, df.dtypes):
        if 'int' in str(dtype):
            col_type = 'INTEGER'
        elif 'float' in str(dtype):
            col_type = 'NUMERIC'
        elif 'datetime' in str(dtype):
            col_type = 'TIMESTAMP'
        elif 'bool' in str(dtype):
            col_type = 'BOOLEAN'
        else:
            col_type = 'TEXT'
        
        columns.append(f'"{col_name}" {col_type}')
    
    # Create table
    create_table_query = f"CREATE TABLE IF NOT EXISTS {table_name} ({', '.join(columns)})"
    cursor.execute(create_table_query)
    print(f"Created table {table_name}")

In [21]:
def copy_df_to_postgres(df, table_name, cursor):
    from io import StringIO
    import csv  # Import csv for quoting options

    # Create a buffer
    buffer = StringIO()

    # Write the DataFrame to the buffer
    df.to_csv(buffer, index=False, header=False, na_rep='', quoting=csv.QUOTE_MINIMAL)
    buffer.seek(0)

    try:
        # Use COPY command for fast data loading
        column_list = ','.join([f'"{col}"' for col in df.columns])
        cursor.copy_expert(
            f"COPY {table_name} ({column_list}) FROM STDIN WITH CSV NULL ''",
            buffer
        )
        print(f"Uploaded {len(df)} rows to {table_name}")
    except Exception as e:
        print(f"Error uploading to {table_name}: {e}")

In [ ]:
# List of dataframes to upload
dataframes = {
    'geometry_df': geometry_df,
    'contributing_factor_lut': contributing_factor_lut,
    'borough_lut': borough_lut,
    'cross_street_lut': cross_street_lut,
    'off_street_lut': off_street_lut,
    'collisions_df': collisions_df,
    'taxi_df': taxi_df
}

# Process each dataframe
for table_name, df in dataframes.items():
    print(f"🔄 Processing {table_name} with {len(df)} rows...")
    
    # Create the table
    create_table_from_df(df, table_name, cursor)
    
    # Process in chunks to handle large dataframes
    chunk_size = 50000
    total_chunks = (len(df) + chunk_size - 1) // chunk_size  # Ceiling division
    
    for i in range(0, len(df), chunk_size):
        chunk = df.iloc[i:i+chunk_size]
        chunk_num = i // chunk_size + 1
        print(f"Uploading chunk {chunk_num}/{total_chunks} ({i} to {min(i+chunk_size, len(df))} rows)")
        copy_df_to_postgres(chunk, table_name, cursor)
        # Commit after each chunk to avoid long transactions
        conn.commit()

print("All data uploaded successfully!")

# Close connections
cursor.close()
conn.close()
print("Connection closed.")

🔄 Processing geometry_df with 263 rows...
Created table geometry_df
Uploading chunk 1/1 (0 to 263 rows)
Uploaded 263 rows to geometry_df
All data uploaded successfully!
Connection closed.

In [19]:
# Drop all tables in the public schema
cursor.execute("""
    DO $$ 
    BEGIN
        EXECUTE (
            SELECT string_agg('DROP TABLE IF EXISTS "' || table_name || '" CASCADE;', ' ')
            FROM information_schema.tables
            WHERE table_schema = 'public'
        );
    END $$;
""")
conn.commit()

print("All tables dropped successfully!")

All tables dropped successfully!

In [4]:
cursor.execute("""
    SELECT table_name
    FROM information_schema.tables
    WHERE table_schema = 'public'
""")
tables = cursor.fetchall()

# Print the table names
print("Tables in the database:")
for table in tables:
    print(table[0])

cursor.execute("""
    SELECT COUNT(*) AS row_count
    FROM taxi_df
""")
row_count = cursor.fetchone()

# Print the number of rows
print(f"Number of rows in taxi_df: {row_count[0]}")

Tables in the database:
contributing_factor_lut
borough_lut
cross_street_lut
off_street_lut
taxi_df
collisions_df
Number of rows in taxi_df: 20500000

In [9]:
cursor.execute("SELECT COUNT(*) FROM taxi_df")
uploaded_rows = cursor.fetchone()[0]
print(f"Rows already uploaded: {uploaded_rows}")

Rows already uploaded: 20500000

In [14]:
start_row = uploaded_rows  # Start from the last uploaded row
chunk_size = 50000  # Adjust chunk size if needed

for i in range(start_row, len(taxi_df), chunk_size):
    chunk = taxi_df.iloc[i:i+chunk_size]
    chunk_num = i // chunk_size + 1
    print(f"Uploading chunk {chunk_num} ({i} to {min(i+chunk_size, len(taxi_df))} rows)")
    copy_df_to_postgres(chunk, 'taxi_df', cursor)
    conn.commit()  # Commit after each chunk

Uploading chunk 411 (20500000 to 20550000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 412 (20550000 to 20600000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 413 (20600000 to 20650000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 414 (20650000 to 20700000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 415 (20700000 to 20750000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 416 (20750000 to 20800000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 417 (20800000 to 20850000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 418 (20850000 to 20900000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 419 (20900000 to 20950000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 420 (20950000 to 21000000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 421 (21000000 to 21050000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 422 (21050000 to 21100000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 423 (21100000 to 21150000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 424 (21150000 to 21200000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 425 (21200000 to 21250000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 426 (21250000 to 21300000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 427 (21300000 to 21350000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 428 (21350000 to 21400000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 429 (21400000 to 21450000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 430 (21450000 to 21500000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 431 (21500000 to 21550000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 432 (21550000 to 21600000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 433 (21600000 to 21650000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 434 (21650000 to 21700000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 435 (21700000 to 21750000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 436 (21750000 to 21800000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 437 (21800000 to 21850000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 438 (21850000 to 21900000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 439 (21900000 to 21950000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 440 (21950000 to 22000000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 441 (22000000 to 22050000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 442 (22050000 to 22100000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 443 (22100000 to 22150000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 444 (22150000 to 22200000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 445 (22200000 to 22250000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 446 (22250000 to 22300000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 447 (22300000 to 22350000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 448 (22350000 to 22400000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 449 (22400000 to 22450000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 450 (22450000 to 22500000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 451 (22500000 to 22550000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 452 (22550000 to 22600000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 453 (22600000 to 22650000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 454 (22650000 to 22700000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 455 (22700000 to 22750000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 456 (22750000 to 22800000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 457 (22800000 to 22850000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 458 (22850000 to 22900000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 459 (22900000 to 22950000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 460 (22950000 to 23000000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 461 (23000000 to 23050000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 462 (23050000 to 23100000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 463 (23100000 to 23150000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 464 (23150000 to 23200000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 465 (23200000 to 23250000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 466 (23250000 to 23300000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 467 (23300000 to 23350000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 468 (23350000 to 23400000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 469 (23400000 to 23450000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 470 (23450000 to 23500000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 471 (23500000 to 23550000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 472 (23550000 to 23600000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 473 (23600000 to 23650000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 474 (23650000 to 23700000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 475 (23700000 to 23750000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 476 (23750000 to 23800000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 477 (23800000 to 23850000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 478 (23850000 to 23900000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 479 (23900000 to 23950000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 480 (23950000 to 24000000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 481 (24000000 to 24050000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 482 (24050000 to 24100000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 483 (24100000 to 24150000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 484 (24150000 to 24200000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 485 (24200000 to 24250000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 486 (24250000 to 24300000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 487 (24300000 to 24350000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 488 (24350000 to 24400000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 489 (24400000 to 24450000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 490 (24450000 to 24500000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 491 (24500000 to 24550000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 492 (24550000 to 24600000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 493 (24600000 to 24650000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 494 (24650000 to 24700000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 495 (24700000 to 24750000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 496 (24750000 to 24800000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 497 (24800000 to 24850000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 498 (24850000 to 24900000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 499 (24900000 to 24950000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 500 (24950000 to 25000000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 501 (25000000 to 25050000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 502 (25050000 to 25100000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 503 (25100000 to 25150000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 504 (25150000 to 25200000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 505 (25200000 to 25250000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 506 (25250000 to 25300000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 507 (25300000 to 25350000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 508 (25350000 to 25400000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 509 (25400000 to 25450000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 510 (25450000 to 25500000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 511 (25500000 to 25550000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 512 (25550000 to 25600000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 513 (25600000 to 25650000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 514 (25650000 to 25700000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 515 (25700000 to 25750000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 516 (25750000 to 25800000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 517 (25800000 to 25850000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 518 (25850000 to 25900000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 519 (25900000 to 25950000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 520 (25950000 to 26000000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 521 (26000000 to 26050000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 522 (26050000 to 26100000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 523 (26100000 to 26150000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 524 (26150000 to 26200000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 525 (26200000 to 26250000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 526 (26250000 to 26300000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 527 (26300000 to 26350000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 528 (26350000 to 26400000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 529 (26400000 to 26450000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 530 (26450000 to 26500000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 531 (26500000 to 26550000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 532 (26550000 to 26600000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 533 (26600000 to 26650000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 534 (26650000 to 26700000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 535 (26700000 to 26750000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 536 (26750000 to 26800000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 537 (26800000 to 26850000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 538 (26850000 to 26900000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 539 (26900000 to 26950000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 540 (26950000 to 27000000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 541 (27000000 to 27050000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 542 (27050000 to 27100000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 543 (27100000 to 27150000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 544 (27150000 to 27200000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 545 (27200000 to 27250000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 546 (27250000 to 27300000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 547 (27300000 to 27350000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 548 (27350000 to 27400000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 549 (27400000 to 27450000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 550 (27450000 to 27500000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 551 (27500000 to 27550000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 552 (27550000 to 27600000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 553 (27600000 to 27650000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 554 (27650000 to 27700000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 555 (27700000 to 27750000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 556 (27750000 to 27800000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 557 (27800000 to 27850000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 558 (27850000 to 27900000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 559 (27900000 to 27950000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 560 (27950000 to 28000000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 561 (28000000 to 28050000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 562 (28050000 to 28100000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 563 (28100000 to 28150000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 564 (28150000 to 28200000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 565 (28200000 to 28250000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 566 (28250000 to 28300000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 567 (28300000 to 28350000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 568 (28350000 to 28400000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 569 (28400000 to 28450000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 570 (28450000 to 28500000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 571 (28500000 to 28550000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 572 (28550000 to 28600000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 573 (28600000 to 28650000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 574 (28650000 to 28700000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 575 (28700000 to 28750000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 576 (28750000 to 28800000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 577 (28800000 to 28850000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 578 (28850000 to 28900000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 579 (28900000 to 28950000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 580 (28950000 to 29000000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 581 (29000000 to 29050000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 582 (29050000 to 29100000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 583 (29100000 to 29150000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 584 (29150000 to 29200000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 585 (29200000 to 29250000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 586 (29250000 to 29300000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 587 (29300000 to 29350000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 588 (29350000 to 29400000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 589 (29400000 to 29450000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 590 (29450000 to 29500000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 591 (29500000 to 29550000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 592 (29550000 to 29600000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 593 (29600000 to 29650000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 594 (29650000 to 29700000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 595 (29700000 to 29750000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 596 (29750000 to 29800000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 597 (29800000 to 29850000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 598 (29850000 to 29900000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 599 (29900000 to 29950000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 600 (29950000 to 30000000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 601 (30000000 to 30050000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 602 (30050000 to 30100000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 603 (30100000 to 30150000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 604 (30150000 to 30200000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 605 (30200000 to 30250000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 606 (30250000 to 30300000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 607 (30300000 to 30350000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 608 (30350000 to 30400000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 609 (30400000 to 30450000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 610 (30450000 to 30500000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 611 (30500000 to 30550000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 612 (30550000 to 30600000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 613 (30600000 to 30650000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 614 (30650000 to 30700000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 615 (30700000 to 30750000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 616 (30750000 to 30800000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 617 (30800000 to 30850000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 618 (30850000 to 30900000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 619 (30900000 to 30950000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 620 (30950000 to 31000000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 621 (31000000 to 31050000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 622 (31050000 to 31100000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 623 (31100000 to 31150000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 624 (31150000 to 31200000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 625 (31200000 to 31250000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 626 (31250000 to 31300000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 627 (31300000 to 31350000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 628 (31350000 to 31400000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 629 (31400000 to 31450000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 630 (31450000 to 31500000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 631 (31500000 to 31550000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 632 (31550000 to 31600000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 633 (31600000 to 31650000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 634 (31650000 to 31700000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 635 (31700000 to 31750000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 636 (31750000 to 31800000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 637 (31800000 to 31850000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 638 (31850000 to 31900000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 639 (31900000 to 31950000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 640 (31950000 to 32000000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 641 (32000000 to 32050000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 642 (32050000 to 32100000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 643 (32100000 to 32150000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 644 (32150000 to 32200000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 645 (32200000 to 32250000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 646 (32250000 to 32300000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 647 (32300000 to 32350000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 648 (32350000 to 32400000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 649 (32400000 to 32450000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 650 (32450000 to 32500000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 651 (32500000 to 32550000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 652 (32550000 to 32600000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 653 (32600000 to 32650000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 654 (32650000 to 32700000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 655 (32700000 to 32750000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 656 (32750000 to 32800000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 657 (32800000 to 32850000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 658 (32850000 to 32900000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 659 (32900000 to 32950000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 660 (32950000 to 33000000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 661 (33000000 to 33050000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 662 (33050000 to 33100000 rows)
Uploaded 50000 rows to taxi_df
Uploading chunk 663 (33100000 to 33150000 rows)
Uploaded 50000 rows to taxi_df

In [27]:
# List of SQL commands to execute
sql_commands = [
    """
    CREATE TABLE borough_lut_temp AS
    SELECT DISTINCT * FROM borough_lut;

    DROP TABLE borough_lut;

    ALTER TABLE borough_lut_temp RENAME TO borough_lut;
    """,
    """
    CREATE TABLE contributing_factor_lut_temp AS
    SELECT DISTINCT * FROM contributing_factor_lut;

    DROP TABLE contributing_factor_lut;

    ALTER TABLE contributing_factor_lut_temp RENAME TO contributing_factor_lut;
    """,
    """
    CREATE TABLE cross_street_lut_temp AS
    SELECT DISTINCT * FROM cross_street_lut;

    DROP TABLE cross_street_lut;

    ALTER TABLE cross_street_lut_temp RENAME TO cross_street_lut;
    """,
    """
    CREATE TABLE off_street_lut_temp AS
    SELECT DISTINCT * FROM off_street_lut;

    DROP TABLE off_street_lut;

    ALTER TABLE off_street_lut_temp RENAME TO off_street_lut;
    """
]

# Execute each SQL command
for command in sql_commands:
    try:
        cursor.execute(command)
        conn.commit()
        print("Command executed successfully.")
    except Exception as e:
        print(f"Error executing command: {e}")
        conn.rollback()

Command executed successfully.
Command executed successfully.
Command executed successfully.
Command executed successfully.

In [ ]:
# List of SQL commands to remove duplicates for each table
sql_remove_duplicates_commands = [
    """
    DELETE FROM collisions_df
    WHERE ctid NOT IN (
        SELECT MIN(ctid)
        FROM collisions_df
        GROUP BY collision_id
    );
    """,
    """
    DELETE FROM geometry_df
    WHERE ctid NOT IN (
        SELECT MIN(ctid)
        FROM geometry_df
        GROUP BY "LocationID"
    );
    """
]

# Execute each SQL command
for command in sql_remove_duplicates_commands:
    try:
        cursor.execute(command)
        conn.commit()
        print("Duplicate rows removed successfully.")
    except Exception as e:
        print(f"Error removing duplicates: {e}")
        conn.rollback()

# Add primary keys to the tables
sql_add_primary_keys = [
    "ALTER TABLE borough_lut ADD PRIMARY KEY (borough_id);",
    "ALTER TABLE contributing_factor_lut ADD PRIMARY KEY (contributing_factor_id);",
    "ALTER TABLE cross_street_lut ADD PRIMARY KEY (cross_street_id);",
    "ALTER TABLE off_street_lut ADD PRIMARY KEY (off_street_id);",
    "ALTER TABLE collisions_df ADD PRIMARY KEY (collision_id);",
    "ALTER TABLE geometry_df ADD PRIMARY KEY (\"LocationID\");",
    "ALTER TABLE taxi_df ADD COLUMN trip_id SERIAL PRIMARY KEY;"
]

# Execute each SQL command to add primary keys
for command in sql_add_primary_keys:
    try:
        cursor.execute(command)
        conn.commit()
        print("Primary key added successfully.")
    except Exception as e:
        print(f"Error adding primary key: {e}")
        conn.rollback()

Duplicate rows removed successfully.
Duplicate rows removed successfully.
Error adding primary key: multiple primary keys for table "collisions_df" are not allowed

In [1]:
# Add foreign key constraints
sql_add_foreign_keys = [
    """
    ALTER TABLE taxi_df
    ADD CONSTRAINT fk_taxi_pickup_location
    FOREIGN KEY (PULocationID)
    REFERENCES geometry_df (LocationID);
    """,
    """
    ALTER TABLE taxi_df
    ADD CONSTRAINT fk_taxi_dropoff_location
    FOREIGN KEY (DOLocationID)
    REFERENCES geometry_df (LocationID);
    """,
    """
    ALTER TABLE collisions_df
    ADD CONSTRAINT fk_collision_borough
    FOREIGN KEY (borough_id)
    REFERENCES borough_lut (borough_id);
    """,
    """
    ALTER TABLE collisions_df
    ADD CONSTRAINT fk_collision_contributing_factor
    FOREIGN KEY (contributing_factor_id)
    REFERENCES contributing_factor_lut (contributing_factor_id);
    """,
    """
    ALTER TABLE collisions_df
    ADD CONSTRAINT fk_collision_cross_street
    FOREIGN KEY (cross_street_id)
    REFERENCES cross_street_lut (cross_street_id);
    """,
    """
    ALTER TABLE collisions_df
    ADD CONSTRAINT fk_collision_off_street
    FOREIGN KEY (off_street_id)
    REFERENCES off_street_lut (off_street_id);
    """
]

# Execute each SQL command to add foreign keys
for command in sql_add_foreign_keys:
    try:
        cursor.execute(command)
        conn.commit()
        print("Foreign key added successfully.")
    except Exception as e:
        print(f"Error adding foreign key: {e}")
        conn.rollback()

Error adding foreign key: name 'cursor' is not defined

NameError: name 'conn' is not defined